@font-face {
  font-family: 'f1-bold';
  src: url('FORMULA1-BOLD.OTF');
}

@font-face {
  font-family: 'f1-regular';
  src: url('FORMULA1-REGULAR.OTF');
}

@font-face {
  font-family: 'f1-wide';
  src: url('FORMULA1-WIDE.OTF');
}
