body {
  font-family: 'f1-regular', sans-serif;
  text-align: center;
}

body.light {
  color: black;
  background-color: white;

  a {
    color: black;
  }
}

body.dark {
  color: white;
  background-color: black;

  a {
    color: white;
  }
}

h1 {
  font-family: 'f1-bold', sans-serif;
}

h3 {
  font-family: 'f1-bold', sans-serif;
  font-size: large;
}

h4 {
  font-family: 'f1-wide', sans-serif;
}

.logo {
  margin-bottom: 2em;
  margin-top: 2em;
}

input, select {
  margin-top: 1em !important;
}

input[type="text"], input[type="date"], input[type="time"], select {
  width: 30em;
}

.ts-wrapper {
  width: 30em;
  display: inline-block;
  text-align: left;
  margin-top: 1em;
}

table {
  margin: 0 auto;
  width: 60%;

  th {
    font-style: italic;
  }
}

.f1 {
  font-weight: 900;
}

body.light .f1 {
  color: #cc0000;
}

body.dark .f1 {
  color: #ff3333;
}

.notice {
  color: green;
  font-weight: bold;
}

// Mobile responsive styles
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 0.9em;
  }

  table {
    width: 95%;
  }

  input[type="text"], input[type="date"], input[type="time"], select {
    width: 90%;
  }

  .ts-wrapper {
    width: 90%;
  }
}
